@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  background-image: url(../Imagens/fundoGrandecerto.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
  margin-top: 30px;
}

header {
  background: #bfbfbf;
  color: #1d1d1d;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Cinzel", serif;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 25px;
}

.menu a {
  text-decoration: none;
  color: #1d1d1d;
  font-weight: bold;
  font-size: 25px;
}

.menu a:hover,
.menu a.ativo {
  text-decoration: underline;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.topoBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  z-index: 1000;
}

.topoBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.containerinicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.parte2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 50px;
  position: relative;
  border-left: 1px solid;
}

section#inicio h2 {
  font-family: "Cinzel", serif;
  margin-top: -100px;
}

section#inicio p {
  font-family: "Cinzel", serif;
  margin-top: 100px;
}

.parte1 {
  padding: 50px;
  position: relative;
}

div.parte1 img {
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.pInicio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.logoInicio {
  opacity: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  transition: opacity 1.5s;
}

.logoInicio:hover {
  opacity: 1;
}

#inicio {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 100px 20px;
}

section#inicio h2 {
  font-size: 30px;
}

section#inicio p {
  font-size: 15px;
  text-align: left;
}

.containercontato {
  display: flex;
  width: 100%;
}

.containercontato1,
.containercontato2 {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.contato {
  padding: 50px 20px;
  font-family: "Cinzel", serif;
}

.contato h2 {
  margin-bottom: 20px;
}

.localizacao {
  height: 150px;
  width: 350px;
  position: relative;
  top: 70px;
  left: 130px;
}

iframe {
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 200px;
  transition: transform 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

iframe:hover {
  transform: scale(1.1);
}
