@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../fundo/fundoGrandecerto.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

header {
  background: #bfbfbf;
  color: #1d1d1d;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Cinzel", serif;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.localizacao {
  width: 70vw;
  height: 80vh;
  margin-top: 6vw;
  margin-left: 30vh;
}
iframe {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
iframe:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
