* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  margin-bottom: 50px;
}

body {
  text-align: center;
  background-color: #1e1e1e;
  color: #c5e3ff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.input {
  display: flex;
  justify-content: space-between;
}
#inputs {
  font-size: 15px;
  flex-direction: column;
  margin: 15px 0;
  background-color: #2c2c2c;
  padding: 20px;
  margin-right: 770px;
  margin-left: 295px;
  margin-bottom: 50px;
  border-radius: 20px;
  text-align: left;
}

#inputs input {
  width: 50px;
  margin: 3px;
  text-align: center;
}

#inputs button {
  padding: 6px 12px;
  background-color: #c5e3ff;
  border-radius: 8px;
  max-width: 100px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
}

.dupla {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 70px;
}

.grafico {
  color: #c5e3ff;
  background-color: #2c2c2c;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  width: 450px;
  height: 400px;
  box-sizing: border-box;
  text-align: center;
}

.grafico h3 {
  margin-bottom: 10px;
}

.grafico canvas {
  width: 100% !important;
  height: 300px !important;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
